
.main{
    display: flex;
    background-color:  #FEDAA8;
    position: absolute;
    top: 40%;
    left:10%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #333333;
    border-radius: 10px;
    padding: 1em;
    flex-wrap: wrap;
  
    
    &-photo-CG{
        width: 170px;
        margin-right: 1em;
    }
    &-title{
        width:55%;
        text-align: center;
    }
    &-subtitle{
        width:55%;
        text-align: center;
    }
    &-logoHtmlCssJs{
        width: 35%;
        margin: auto;
    }
    &-titles{
        width: 34%;
        margin: auto;
    }
    &-logos{
        margin-top: 1em;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    &-logoPostgresql{
        height:170px;
    }
    &-logoExpressNode{
        height:170px;
    }

}