
.main{
    display: flex;
    background-color:  #FEDAA8;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    min-width: 57vw;
    color: #333333;
    border-radius: 10px;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    &-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
    &-photo-CG{
        max-width: 100%;
    height: auto;
    margin-right: 1em;
    margin-left: 0.5em;
    }
    
        
        
    
    &-titles{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin: auto;
        flex-wrap: wrap;
        
        
    }

    &-title{
        text-align: center;
        max-width: 100%;
        min-width: 80%;
    }
    &-subtitle{
        
        text-align: center;
    }
    &-logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    &-logoHtmlCssJs{
        max-width: 40%;
        height: auto;
        
    }
    &-logoReactRedux{
        max-width: 40%;
        height: auto;
        
    }
    
    &-logos{
        margin-top: 1em;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }
    &-logoPostgresql{
        max-width: 40%;
        height: auto;
    }
    &-logoExpressNode{
        max-width: 40%;
        height: auto;
    }

    @media screen and (max-width: 700px){
        &-photo-CG{
            max-width: 50%;
            height: auto;
            margin-right: 1em;
            margin-left: 0.5em;
        }
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
        }
        &-titles{
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            flex-direction: column;
            margin: auto;
            flex-wrap: wrap;
            font-size: 0.6em;
            
            
        }
    }

    

}