.content{
    position: absolute;
    right: 100px;
    background-color: #FEDAA8;
    color: #333333;
    border-radius: 10px;
    max-width: 63%;
    padding: 0.5em;
    margin-top: 1em;
    height: 700px;
    border: solid 2px #FEDAA8;
    
        
    
    &-text-scroll{
        animation-duration: 3s;
        animation-name: slidein;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 600px;
    }
    &-text{
        animation-duration: 3s;
        animation-name: slidein;
        height: 600px;
    }
    
    
    &-title{
        text-align: center;
        margin-top: 1em;
        animation-duration: 3s;
        animation-name: slidein;
    }

}
.cv-image{
    display: block;
    width: 780px;
}
em{
    font-weight: bold;
    color: #1a5f29
}

table{
    border: solid 1px #333333;
    display: block;
    
}
tbody {
    background-color: #333333;
    color: #FEDAA8;
}

td {
    text-align: center;
    font-style: italic;
    padding: 0.5em;
}

.table-link{
    color:#FEDAA8;
}
@keyframes slidein {
    from {
        margin-top: 100%;
        
        
    }
    50%{
        margin-top: 0%;
        
        
    }
    to{
        margin-top: 1em;
        
        
    }
}

