.content{
    
    margin: auto;
    background-color: #FEDAA8;
    color: #333333;
    border-radius: 10px;
    max-width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    max-height: 100%;
    border: solid 2px #FEDAA8;
    font-family: 'Spartan', sans-serif;
        
    
    &-text-scroll{
        animation-duration: 3s;
        animation-name: slidein;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 600px;
    }
    &-text{
        animation-duration: 3s;
        animation-name: slidein;
        height: 600px;
    }
    
    
    &-title{
        text-align: center;
        margin-top: 1em;
        animation-duration: 3s;
        animation-name: slidein;
    }

}

em{
    font-weight: bold;
    color: #1a5f29
}


@keyframes slidein {
    from {
        margin-top: 100%;
        
        
    }
    50%{
        margin-top: 0%;
        
        
    }
    to{
        margin-top: 1em;
        
        
    }
}
fieldset{
    background-color: rgb(250, 195, 118);
    color: #333333;
    border-radius: 10px;
    margin-top: 0.5em;
    max-width: 97%;  
}

input, textarea{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}


textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    margin: auto;
    
    
}

.form{
    background-color: rgb(250, 195, 118);
    color: #333333;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
    max-width: 100%;
    
}
.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 100%;

}

.field-send{
    text-align: center;
    
}
.send{
    background-color: #333333;
    color: #FEDAA8;
    font-weight: bold;
    padding: 0.3em 0.5em;
    border: none;
    border-radius: 15px;
}
.send:hover{
    background-color: #FEDAA8;
    color: #333333;
    border: solid #333333 2px;
}

.required{
    margin-left: 0.2em;
    color: red;
    font-size: 1.5em;
}

.alert{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

@media screen and (min-width: 700px){
        
        &-fields{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: column;
            
        }
        &-field{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-direction: row;
            max-width: 100%;
            &-label{
                text-align: center;
            }
        }
    }