.header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
        
    &-title{
        background-color: #333333;
        border: solid #FEDAA8 2px;
        text-align: center;
        padding: 0.5em;
        font-size: 2em;
        border-radius: 25%;
        margin: 0.5em auto;
        min-width: 40%;
        max-width: 80%;
    }
    &-section{
        background-color: #FEDAA8;
        color: #333333;
        text-align: center;
        line-height: 1em;
        padding: 0.5em;
        margin: 0.5em auto;
        min-width: 40%;
        max-width: 60%;
        border-radius: 10px;

    }
}