.header{
    
    position: absolute;
    
    top: 0;
    left:30%;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    &-title{
        background-color: #333333;
        border: solid #FEDAA8 2px;
        text-align: center;
        padding: 0.5em;
        font-size: 2em;
        border-radius: 25%;
        margin-bottom: 0.5em;
    }
    &-section{
        text-align: center;
        line-height: 2em;
    }
}