.nav{
    color: #FEDAA8;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 125%;
    width: 100%;
    left: 9%;
    &-li{
        line-height: 2em;
    }
    &-button{
        background-color: #FEDAA8;
        color: #333333;
        font-weight: bold;
        padding: 0.3em 0.5em;
        border: none;
        border-radius: 15px;
        &-visited{
            color: #333333;
            font-weight: bold;
            font-style: italic;
            padding: 0.3em 0.5em;
            border: none;
            border-radius: 15px;
            background-color: rgb(241, 175, 82);
        }
    }
    &-button:hover{
        background-color: #333333;
        color: #FEDAA8;
        border: solid #FEDAA8 2px;
    }
    
    &-ul{
        width: 16%;
    }

}