.nav{
    color: #FEDAA8;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    top: 125%;
    width: 100%;
    left: 9%;
    &-li{
        line-height: 2em;
    }
    &-button{
        background-color: #FEDAA8;
        color: #333333;
        font-weight: bold;
        padding: 0.3em 0.5em;
        border: none;
        border-radius: 15px;
    }
    &-button:hover{
        background-color: #333333;
        color: #FEDAA8;
        border: solid #FEDAA8 2px;
    }
    &-button:active{
        background-color: red;
        
        
    }
    &-ul{
        width: 16%;
    }

}